/* Homepage styles */

.homepage-button {
    text-transform: none !important;
    margin-bottom: 10px !important;
}

.homepage-text {
    padding-bottom: 80px !important;
}

.select-table-text , .select-source-text {
    padding-bottom: 50px !important;
}

hr {
    color: black !important;
}

.chat-button {
width: 10%;
border-radius: 8px !important;
}

ImageList {
    background-color: red;
}