/* Homepage & Text styles */

.homepage-button {
    text-transform: none !important;
    margin-bottom: 10px !important;
}

.homepage-text {
    padding-bottom: 80px !important;
}

.select-table-text , .select-source-text {
    padding-bottom: 50px !important;
}

